<%= form_for(@slide) do |f| %>
	<div id="input-workspace">
		<div class="field">
			<select id="slide-type-select" class="form-control">
				<option>Choose a Slide Template</option>
				<option value="reminder">Reminder</option>
				<option value="howto">How To</option>
				<option value="video">Video</option>
			</select>
		</div>

		<div id="reminder-template" class="hidden template">
			<h2>Add Reminder Slide</h2>
			<div class="field col-xs-12 col-sm-2">
				<label name="reminder-text">Reminder Text</label>
				<input id="reminder-text" name="reminder-text" type="text" class="form-control" placeholder="eg: Take your green pills"/>
			</div>
			<div class="field col-xs-12 col-sm-2">
				<label name="reminder-time">Reminder Time</label>
				<input id="reminder-time" name="reminder-time" type="time" class="form-control">
			</div>
			<div class="field col-xs-12 col-sm-2">
				<label name="reminder-img">Reminder Image</label>
				<input id="reminder-img" name="reminder-img" type="text" class="form-control" placeholder="eg: http://placehold.it/300x300">
			</div>
		</div>

		<div id="howto-template" class="hidden template">
			<h2>Add How To Slide</h2>
			<div class="field col-xs-12 col-sm-2">
				<label name="howto-header">How To Title</label>
				<input id="howto-header" name="howto-header" type="text" class="form-control" />
			</div>
			<div class="field col-xs-12 col-sm-2">
				<label name="howto-img">How To Image</label>
				<input id="howto-img" name="howto-img" type="text" class="form-control" placeholder="eg: http://placehold.it/300x300"/>
			</div>
			<div class="field col-xs-12 col-sm-2">
				<label name="howto-list-a">How To List Item 1</label>
				<input id="howto-list-a" name="howto-list-a" type="text" class="form-control" />
			</div>
			<div class="field col-xs-12 col-sm-2">
				<label name="howto-list-b">How To List Item 2</label>
				<input id="howto-list-b" name="howto-list-b" type="text" class="form-control" />
			</div>
			<div class="field col-xs-12 col-sm-2">
				<label name="howto-list-c">How To List Item 3</label>
				<input id="howto-list-c" name="howto-list-c" type="text" class="form-control" />
			</div>
		</div>

		<div id="video-template" class="hidden template">
			<h2>Add Video Slide</h2>
			<div class="field col-xs-12 col-sm-2">
				<label name="video-url">YouTube URL</label>
				<input id="video-url" name="video-url" type="text" class="form-control" placeholder="eg: http://www.youtube.com/watch?v=w8KQmps-Sog"/>
			</div>
		</div>
	</div>
	<%= f.hidden_field :slideshow_id, :value => params[:slideshow] ? params[:slideshow] : @slide.slideshow.id %>
	<div class="field">
		<%= f.label :slide_html %>
		<%= f.text_area :slide_html, :class => "form-control"  %>
	</div>
	<div class="field">
		<%= f.label :slide_weight %>
		<%= f.number_field :slide_weight, :class => "form-control"  %>
	</div>
	<div class="field">
		<%= f.label :slide_length %>
		<%= f.number_field :slide_length, :class => "form-control" %>
	</div>
	<div class="actions">
		<%= f.submit :class => "btn btn-primary" %>
	</div>
<% end %>