<%= form_for(@slide) do |f| %>
	<div class="field">
		<%= f.label :slide_html %>
		<%= f.text_area :slide_html %>
	</div>
	<div class="field">
		<%= f.label :slide_weight %>
		<%= f.number_field :slide_weight %>
	</div>
	<div class="field">
		<%= f.label :slide_length %>
		<%= f.number_field :slide_length %>
	</div>
	<div class="field">
		<%= f.label :slideshow_id %>
		<%= f.text_field :slideshow_id %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>